body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* NAV STYLING */

nav {
    padding: 1vw;
    background-color: black;
    text-align: center;
}

nav > a {
    display: inline;
    font-family: 'Krub', sans-serif;
    font-weight: 300;
    font-size: 2vw;
    color: white;
    width: 100%;
    margin-top: 0px;
    margin-right: 5vw;
    text-decoration-line: none;
}

nav > a:hover {
    color: #D193BD;
}

/* BANNER STYLING */

#banner {
    background-image: url("assets/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#bannerContent {
    width: 70%;
    margin: 2em;
    margin-top: 5em;
}

#bannerContent > img {
    width: 80%;
}

hr{
    margin-top: 0px;
    margin-left: -2em;
    margin-right: -2em;
    color: white;
    border-width: 2px;
    border-style: solid;
}

/* BANNER TEXT STYLING */

#lastName{
    margin-top: 0px;
    font-family: 'Krub', sans-serif;
    font-weight: 200;
    font-size: 6vw;
    color: white;
}

#bannerContent > h2 {
    font-family: 'Krub', sans-serif;
    color: #D193BD;
}

em{
    font-style: normal;
    color: #EBF5EE;
}

#tagline {
    font-size: 2.8vw;
    font-weight:400;
}

#taglineClarifier{
    font-size: 2.3vw;
    font-weight: 200;
    color: #E4C2D9;
}

#face {
    background-color: #D8BFAA;
    width: 30em;
    object-fit: cover;
}

#face > img {
    margin-left: 5%;
    width: 95%;
}

/* PROMPT AREA */

#prompt {
    margin: 10em;
}

#prompt > h3 {
    font-family: 'Krub', sans-serif;
    font-weight: 200;
    font-size: 3.2vw;
    text-align: center;
}

#prompt > h2 {
    margin-top: 3em;
    text-align: center;
    font-family: 'Krub', sans-serif;
    font-weight: 700;
    font-size: 3.5vw;
    color: black;
}

#prompt > h2 > em {
    font-family: 'Krub', sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    color: black;
}

/* PROJECT AREA */

#projectPanel {
    background-image: url("assets/projectBacking.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#projectImg > h1{
    margin: .5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: 'Jockey One', sans-serif;
    font-size: 6vw;
    color: white;
}

#projectCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin-right: 1em;
    margin-left: auto;
    padding-bottom: 40vw;
}

.projectSquare {
    width: 30%;
    height: 28vw;
    margin-bottom: .5em;
    font-family: sans-serif;
}

.projectSquare > h3 {
    font-size: 2vw;
    margin: 1em;
}

.projectSquare > h2 {
    font-size: 2vw;
    margin: 1em;
    color: white;
}

/* PROJECT PANEL STYLE */

#sims {
    background-color: #0A6735;
}
#sims > h3{
    color: #48D689;
}

#octopus {
    background-color: #1D8399;
}
#octopus > h3{
    color: #81E4FA;
}

#aws {
    background-color: #BB578D;
}
#aws > h3{
    color: #FFBEE1;
}

#monster {
    background-color: #EF8275;
}
#monster > h3{
    color: #FFD5D0;
}

#podcast {
    background-color: #66A39C;
}
#podcast > h3{
    color: #B5FFF6;
}

#ranch {
    background-color: #AD8943;
}
#ranch > h3{
    color: #FFE1A7;
}

/* RESUME AREA */

#resumePanel {
    margin-top: 10em;
    font-family: 'Krub', sans-serif;
    font-weight: 300;
}

#resumePanel > img {
    width: 35%;
    display: inline-block;
}

#resumePanel > div {
    margin-top: 20%;
    margin-right: 1em;
    float: right;
    width: 60%;
    font-size: 2vw;
    text-align: right;
}

#resumePanel > div > p {
    padding-bottom: 2em;
}

#resumePanel > div > a {
    height: 8vw;
    font-family: 'Krub', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    text-decoration-line: none;
    border-style: none;
    border-radius: 5px;
    background-color: #3A3A3A;
    color: white;
    padding: 1vw;
    padding-left: 6vw;
    padding-right: 6vw;
    margin-right: 0px;
    margin-left: auto;
    filter:drop-shadow(.5em .5em black);
}

#resumePanel > div > a:hover {
    color: #D193BD;
}

/* CONTACT AREA */

#contact {
    margin: 20%;
}

#contact > div {
    display: flex;
    justify-content: space-around;
}

#contact > h1{
    font-family: 'Krub', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    text-align: center;
}

#linkedIn {
    background-image: url("assets/linkedIn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    background-color: white;
    height: 10em;
    width: 10em;
    margin-right: 1em;
}

#email {
    background-image: url("assets/email.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-style: none;
    background-color: white;
    height: 10em;
    width: 10em;
    margin-left: 1em;
}